
@{
    ViewBag.Title = "AccountPersonal";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="ptb10 bb">
    <span>会员中心 > 基本信息</span>
    <input type="hidden" id="userLevel" value="@ViewBag.level" />
</div>
<div>
    <h3 class="ptb10">基本信息</h3>
</div>


<div style="padding:15px">
    <form class="form-horizontal" role="form" method="post" action="/Account/AccountPersonalInfoSumbit">
        <div class="form-group">
            <label for="txtname" class="col-sm-2 control-label">真实姓名：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtname" name="txtname" value="@Model.RealName" placeholder="请输入真实名字" required="">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">性别：</label>
            <div class="col-sm-10">

                @if (Model.Gender == "1")
                {
                    <label class="checkbox-inline">
                        <input type="radio" name="radiossex" checked="checked" value="1">男
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="radiossex" value="2">女
                    </label>
                }
                else
                {
                    <label class="checkbox-inline">
                        <input type="radio" name="radiossex" value="1" checked>男
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="radiossex" checked="checked" value="2">女
                    </label>
                }
            </div>
        </div>
        <div class="form-group">
            <label for="txtbirthday" class="col-sm-2 control-label">生日：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtbirthday" name="txtbirthday" value="@Model.Birthday" placeholder="请选择生日">
            </div>
        </div>
        <div class="form-group">
            <label for="txtEmail" class="col-sm-2 control-label">邮箱：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtEmail" name="txtEmail" value="@Model.Email" placeholder="邮箱">
            </div>
        </div>
        <div class="form-group">
            <label for="txtaddress" class="col-sm-2 control-label">居住地址：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtaddress" name="txtaddress" value="@Model.Address" placeholder="居住地址">
            </div>
        </div>
        <div class="form-group">
            <label for="txtposition" class="col-sm-2 control-label">职位：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtposition" name="txtposition" value="@Model.Position" placeholder="职位">
            </div>
        </div>

        <div class="form-group">
            <label for="txtskll" class="col-sm-2 control-label">技术领域：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtskll" name="txtskll" value="@Model.Skill" placeholder="技术领域">
            </div>
        </div>
        <div class="form-group">
            <label for="txtintro" class="col-sm-2 control-label">个人简介：</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" id="txtintro" name="txtintro" placeholder="个人简介">@Model.Introduction</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">保存</button>
            </div>
        </div>
    </form>
</div>
