@{
    ViewBag.Title = "用户中心";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<<<<<<< HEAD
<div class="nav_title">
=======
    button {
        background: #fb9337 none repeat scroll 0 0;
        border: 1px solid #f0882c;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        padding: 7px 10px;
    }
</style>

<div class="ptb10 bb">
    <span>会员中心 > 会员列表</span>
    <input type="hidden" id="userLevel" value="@ViewBag.level" />
</div>
<div>
    <h3 class="ptb10">用户列表</h3>
</div>


<input type="hidden" id="seach_type" value="@ViewBag.sel_type" />
<form method="post" action="/Account/UserList?type=@ViewBag.accountType">
>>>>>>> 59f0cc52535110a8810359dc8348979dca35afd2

    @if (ViewBag.accountType == 1)
    {
        <span>用户中心->个人用户列表</span>
    }
    else
    {
        <span>用户中心->公司用户列表</span>
    }

</div>
<div class="pmp_content">
    @{var par = "type" + ViewBag.accountType;
        if (!string.IsNullOrWhiteSpace(ViewBag.companyId))
        {
            par += "&companyID=" + ViewBag.companyId;
        }
    }
    <form method="post" action="/Account/UserList?@par">
        @if (ViewBag.accountType == 1)
        {
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td style="padding:10px;font-weight:400">查询：</td>
                    <td style="padding:10px">
                        <select class="form-control" style="width:150px" name="sel_type">
                            <option value="1" selected="selected">姓名</option>
                            <option value="2">电话</option>
                        </select>
                    </td>
                    <td style="padding:10px">
                        <input class="form-control" type="text" value="@ViewBag.name" name="name">
                    </td>
                    <td style="padding:10px"><button class="btn btn_blue">搜索</button></td>
                </tr>
            </table>
        }
        else
        {
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td style="padding:10px;font-weight:400">查询：</td>
                    <td style="padding:10px">
                        <select class="form-control" style="width:150px" name="sel_type">
                            <option value="1" selected="selected">姓名</option>
                            <option value="2">电话</option>
                        </select>
                    </td>
                    <td style="padding:10px"><input class="form-control" type="text" value="@ViewBag.name" name="name"></td>
                    <td style="padding:10px">
                        <button class="btn btn_blue">搜索</button> &nbsp
                        <input class="btn_add btn btn_blue" type="button" value="添加" />
                    </td>
                </tr>
            </table>
        }
    </form>

    <table cellpadding="0" cellspacing="0" class="table_list">
        <tr class="tr_title">
            @if (ViewBag.accountType == 1)
            {
                <th>账户类型</th>
            }
            else
            {
                <th>公司名称</th>
            }
            <th>姓名</th>
            <th>电话</th>
            @if (ViewBag.accountType == 2)
            {
                //   <th>部门</th>
            }
            <th>职位</th>
            <th>居住地址</th>
            <th>审核状态</th>
            <th>操作</th>
        </tr>

        @if (Model != null && Model.Count > 0)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                <tr>
                    <td style="display:none"> <input type="hidden" value="@Model[i].ID" /></td>
                    @if (ViewBag.accountType == 1)
                    {
                        <td>个人账户</td>
                    }
                    else
                    {
                        <td>@Model[i].CompanyReal_Name</td>
                    }
                    <td>@Model[i].PersonInfo.RealName</td>
                    <td>@Model[i].Phone</td>
                    @if (ViewBag.accountType == 2)
                    {
                        // <td>技术一部</td>
                    }
                    <td>@Model[i].PersonInfo.Position</td>
                    <td>@Model[i].PersonInfo.Address</td>

                    @if (Model[i].Level == com.pmp.mongo.data.UserLevel.CompanyAdmin || Model[i].Level == com.pmp.mongo.data.UserLevel.CompanyUser)
                    {
                        if (ViewBag._Longin_CompanyReal_IsApprove == 0)
                        {
                            <td>未提交</td>
                        }
                        else if (ViewBag._Longin_CompanyReal_IsApprove == 1)
                        {
                            <td>审核中</td>
                        }
                        else if (ViewBag._Longin_CompanyReal_IsApprove == 2)
                        {
                            <td>审核通过</td>
                        }
                        else if (ViewBag._Longin_CompanyReal_IsApprove == 3)
                        {
                            <td>审核未通过</td>}

                    }
                    else
                    {
                        if (Model[i].PersonReal.IsApprove == 1)
                        {
                            <td>待审核</td>
                        }
                        else if (Model[i].PersonReal.IsApprove == 2)
                        {
                            <td>通过</td>
                        }
                        else if (Model[i].PersonReal.IsApprove == 3)
                        {
                            <td>未通过</td>
                        }
                    }
                    <td>
                        <button class="btn btn_blue btn_see">查看</button>
                        <button class="btn btn_red btn_stop">停用</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="6">暂无信息</td></tr>
        }
    </table>

</div>
<script type="text/javascript">
    $(".btn_see").click(function () {
        var id = $(this).parents(".table_list").find("[type='hidden']").val();
        window.location.href = "/Account/AccountDetail?uid=" + id;
    });
    $(".btn_stop").click(function () {
        alert("停用")
        window.location.href = "/Account/AccountDetail?uid=" + id;
    });

    $(".btn_add").click(function () {
        layer.open({
            type: 2,
            title: '添加员工',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['700px', '550px'],
            content: '/Account/CompandUserAdd'
        });
    });

    function url() {
        window.location.href = "/Account/UserList";
    }
</script>
