<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/MenuData.js"></script>
</head>
<body>
    <input type="hidden" id="userLevel" value="@ViewBag.level" />
    <div class="header">
        <div class="topM sline clearfix">
            <div class="OfcardLogo">
                <img style="width:100px;height:100px" src="/images/pmp.png">
            </div>
            <h3 style="float:left">任务管理系统</h3>
            <div class="searchBar">
                <div class="searchVInput">
                    <form action="#" method="post" name="fo" id="fo" target="_blank">
                        <a href="javascript:document.getElementById('fo').submit()">搜索</a>
                        <div><input type="text" autocomplete="off" name="cardname" id="cardname" class="cardnameV"></div>
                    </form>
                </div><!-- searchVInput end -->
                <input name="producttype" id="producttype" value="0" type="hidden" />
            </div><!-- searchBar end -->
        </div><!-- sline end -->
        <div class="navigationBar">
            <div class="navigationBarInnel">
                <tt title="我是顾客"></tt>
                <div class="mainMenuV">
                    <a href="/Task/Index">首页</a>
                    <a href="/Task/Index">任务中心</a>
                    <a href="/Account/Index">会员中心</a>
                    <a href="/Task/Create">发布任务</a>
                </div><!-- mainMenuV end -->
            </div><!-- mainMenudl end -->
        </div><!-- navigationBar end -->
    </div><!-- header end -->
    <div class="of_whole">
        <div id="of_mainBody" class="push_t">
            <!--左侧栏开始-->
            <div class="side_small tag_line float_l">
                <div id="firstpane" class="menu_list">
                    @*<h3 class="menu_head current">我的账号</h3>
                    <div style="display:block" class="menu_body">
                        <a href="">基本资料</a>
                        <a href="">实名认证</a>
                    </div>
                    <h3 class="menu_head">公司认证</h3>
                    <div style="display:none" class="menu_body">
                        <a href="">公司认证</a>
                    </div>
                    <h3 class="menu_head">我的任务</h3>
                    <div style="display:none" class="menu_body">
                        <a href="#">我的任务</a>
                    </div>
                    <h3 class="menu_head">我的评价</h3>
                    <div style="display:none" class="menu_body">
                        <a href="#">评价管理</a>
                    </div>*@
                </div>
            </div>
        </div>
        <div id="of_mainBody_rg">
            @RenderBody()
        </div>
    </div>
    <div style="clear: both;color: #777777;padding-top: 35px;text-align: center;">
        <p>适用浏览器：IE8、360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗. </p>
        <p>来源：<a href="#" target="_blank">PMP版权所有</a></p>
    </div>
    @Scripts.Render("~/bundles/jq-bs-ng")
    <script src="~/Scripts/menu.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
          
        });

        $(function () {
            var level = $("#userLevel").val();
            $.each(_Menu, function (i, item) {
                if (item.userLevel.indexOf(level) > -1) {
                    var html = [];
                    $.each(item.menu, function (j, menu) {
                        if (j == 0) {
                            html.push(" <h3 class=\"menu_head current\">" + menu.title + "</h3>");
                            html.push("  <div style=\"display:block\" class=\"menu_body\">")
                        } else {
                            html.push(" <h3 class=\"menu_head\">" + menu.title + "</h3>");
                            html.push("  <div style=\"display:none\" class=\"menu_body\">")
                        }
                        $.each(menu.subMenu, function (j, sub) {
                            html.push("<a href=\"" + sub.url + "\">" + sub.title + "</a>");
                        });
                        html.push("</div>");
                    });
                    $("#firstpane").append(html.join(""));
                }
            });

            $("#firstpane .menu_body:eq(0)").show();
            $("#firstpane h3.menu_head").click(function () {
                $(this).addClass("current").next("div.menu_body").slideToggle(300).siblings("div.menu_body").slideUp("slow");
                $(this).siblings().removeClass("current");
            });
            $("#secondpane .menu_body:eq(0)").show();
            $("#secondpane h3.menu_head").mouseover(function () {
                $(this).addClass("current").next("div.menu_body").slideDown(500).siblings("div.menu_body").slideUp("slow");
                $(this).siblings().removeClass("current");
            });
        })
    </script>
</body>
</html>
