<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <ul class="taskTop">
            <li class="logoTitle">
                <a href="http://#"><img src="~/images/pmp.png" class="logoTask" /> [PMP] 任务服务平台 </a>
            </li>
            <li class="taskTopCenter">
                <a href="#" target="_blank" rel="nofollow">
                    <span class="phoneapp">&nbsp;</span>
                    <span>手机APP</span>
                    <u> | </u>
                </a>
                <a href="#" target="_blank" rel="nofollow">
                    <span class="weibo">&nbsp;</span>
                    <span>关注微博</span>
                    <u> | </u>
                </a>
                <span>客服电话:</span> <red>400-810-1688</red>
                </a>
            </li>
            <li></li>
        </ul>
    </div>
    <div class="container-full taskNav">
        <div class="container">
            <ul>
                <li>首页</li>
                <li>我的任务</li>
                <li>会员中心</li>
                <li>Nav</li>
                <li>Nav</li>
                <li>Nav</li>
                <li>Nav</li>
                <li>Nav</li>
            </ul>
        </div>
    </div>
    <div class="container accountBody">
        <div style="float:left">
            <ul>
                <li class="accountLeft">
                    <div class="top">
                        <span>我是雇主</span>
                    </div>
                    <ul>
                        <li><a href="#"><ic>&nbsp; </ic> 我的信息</a></li>
                        <li><a href="#"><ic></ic>公司信息</a></li>
                        <li><a href="#"><ic></ic>员工信息</a></li>
                        <li><a href="#"><ic></ic>员工管理</a></li>
                        <li>
                            <a href="#"><ic></ic>任务中心</a>
                            <dt>> 我的任务</dt>
                            <dt>> 发布任务</dt>
                        </li>
                        <li><a href="#"><ic></ic>评价管理</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div style="float:left;width: 80%; ">
            @RenderBody()
        </div>
    </div>

    <footer class="container">
        <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
    </footer>

    @Scripts.Render("~/bundles/jq-bs-ng")
    @RenderSection("scripts", required: false)
</body>
</html>
