<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <ul class="taskTop">
            <li class="logoTitle">
                <a href="http://#"><img src="~/images/pmp.png" class="logoTask" /> [PMP] 任务服务平台 </a>
            </li>
            <li class="taskTopCenter">
                @*<a href="#" target="_blank" rel="nofollow">
                        <span class="phoneapp">&nbsp;</span>
                        <span>手机APP</span>
                        <u> | </u>
                    </a>*@
                <a href="#" target="_blank" rel="nofollow">
                    <span class="weibo">&nbsp;</span>
                    <span>关注公众号</span>
                    <u> | </u>
                </a>
                <span>客服电话:</span> <red>110</red>
                </a>
            </li>
            <li></li>
        </ul>
    </div>
    <div class="container-full taskNav">
        <div class="container">
            <ul>
                <li><a href="/Task/Index">首页</a></li>
                <li><a href="/Task/Index">任务中心</a></li>
                <li><a href="/Account/Index">会员中心</a></li>
                <li><a href="/Task/Create">发布任务</a></li>
            </ul>
        </div>
    </div>
    <div class="container accountBody">
        <div ng-app="userMenuApp">
            <ul ng-controller="MenuItemCtl1">
                <li class="accountLeft">
                    <div class="top">
                        <span>{{body.title}}</span>
                    </div>
                    <ul>
<<<<<<< HEAD
<<<<<<< HEAD
                        <li>
                            <a href="/Account/AccountDetail"><ic>&nbsp; </ic> 我的信息</a>
                            <a href="/Account/AccountPersonal"> <dt>> 基本资料</dt></a>
                            <a href="/Account/AccountP_Approve"><dt>> 实名认证</dt></a>
                            <a href="/Account/AccountCompany_Approve"><dt>> 公司认证</dt></a>
                        </li>
                        <li>
                            <a href=""><ic>&nbsp; </ic> 员工管理</a>
                            <a href="#"> <dt>> 添加员工</dt></a>
                            <a href="#"> <dt>> 员工列表</dt></a>
                        </li>
                        <li>
                            <a href="#"><ic>&nbsp; </ic> 用户管理</a>
                            <a href="/Account/AccountAudit"> <dt>> 会员审核</dt></a>
                            <a href="#"> <dt>> 公司管理</dt></a>
                            <a href="#"> <dt>> 会员管理</dt></a>
                        </li>
                        @*<li>
                                <a href="#"><ic></ic>任务中心</a>
                                <dt>> 我的任务</dt>
                                <dt>> 发布任务</dt>
                            </li>*@
                        <li><a href="#"><ic></ic>评价管理</a></li>
=======
                        <li ng-repeat="el in body.menu">
                            <a ng-href="{{el.url}}"><ic>&nbsp; </ic> {{el.title}}</a>
                            <dt ng-if="el.subMenu" ng-repeat="sub in el.subMenu"><a ng-href="{{sub.url}}">> {{sub.title}}</a></dt>
                        </li>

>>>>>>> f5d7b0d1bdecf34b23ee0117fddac88049ed3ce2
=======
                        <li ng-repeat="el in body.menu">
                            <a ng-href="{{el.url}}"><ic>&nbsp; </ic> {{el.title}}</a>
                            <dt ng-if="el.subMenu" ng-repeat="sub in el.subMenu"><a ng-href="{{sub.url}}">> {{sub.title}}</a></dt>
                        </li>

>>>>>>> f5d7b0d1bdecf34b23ee0117fddac88049ed3ce2
                    </ul>
                </li>
                <li class="accountRight">
                        @RenderBody()
                </li>
            </ul>
        </div>

        <div class="clear"></div>
    </div>

    <footer class="container">
        <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
    </footer>

    @Scripts.Render("~/bundles/jq-bs-ng")
    <script src="~/Scripts/menu.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
