<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .right {
            /*position: absolute;*/
            right: 10px;
            top: 10px;
            margin-right: 10px;
            margin-top: 2px;
            float: right;
        }

        .userinfo {
            cursor: pointer;
            float: left;
            line-height: 42px;
            font-size: 14px;
            color: #fff;
            font-family: verdana, Tahoma, Arial, Hei, "Microsoft Yahei", SimHei;
        }

        .userinfodrop {
            background: #fff none repeat scroll 0 0;
            border-radius: 2px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            display: none;
            padding: 10px;
            position: absolute;
            right: 0;
            top: 48px;
            z-index: 200;
            width: 200px;
        }
    </style>
    @RenderSection("header", required: false)
</head>
<body>
    <input type="hidden" id="userLevel" value="@ViewBag.level" />
    <div class="header">
        <div class="topM sline clearfix">
            <div class="OfcardLogo">
                <img style="height:60px" src="/images/pmp.png">
            </div>
            <h2 style="float:left" class="mt10">任务管理系统</h2>
            <div class="searchBar mt10">
                <div class="searchVInput">
                    <form action="#" method="post" name="fo" id="fo" target="_blank">
                        <a href="javascript:document.getElementById('fo').submit()">搜索</a>
                        <div><input type="text" autocomplete="off" name="cardname" id="cardname" class="cardnameV" placeholder="关键词或金额"></div>
                    </form>
                </div><!-- searchVInput end -->
                <input name="producttype" id="producttype" value="0" type="hidden" />
            </div><!-- searchBar end -->
        </div><!-- sline end -->

        <div class="navigationBar">
            <div class="navigationBarInnel">
                <tt title="我是顾客"></tt>
                <div class="mainMenuV">
                    <a href="/Task/Index">首页</a>
                    <a href="/Task/Index">任务中心</a>
                    <a href="/Account/Index">会员中心</a>
                    @if (ViewBag._Longin_UserLevel == 2)
                    {
                        <a href="/Task/Create">发布任务</a>
                    }
                </div><!-- mainMenuV end -->


                <div class="right">
                    <div class="userinfo">
                        <span>你好,</span>
                        <span>@ViewBag._Longin_RealName</span>
                    </div><!--userinfo-->

                    <div class="userinfodrop" style="display: none;">
                        <div class="userdata">
                            <h4>@ViewBag._Longin_RealName</h4>
                            @*<span class="email">@ViewBag._Longin_RealName</span>*@
                            <ul>
                                <li><a href="/Account/AccountPersonal">编辑资料</a></li>
                                <li><a href="/Account/UpdatePwd">修改密码</a></li>
                                @*<li><a href="help.html">帮助</a></li>*@
                                <li><a href="#" id="clone">退出</a></li>
                            </ul>
                        </div><!--userdata-->
                    </div><!--userinfodrop-->
                </div>

            </div><!-- mainMenudl end -->
        </div><!-- navigationBar end -->


    </div>



    <div class="container mt25">
        @RenderBody()
        <hr />
        <footer class="container">
            <p>&copy; @DateTime.Now.Year - MPM GROUP</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jq-bs-ng")
    @RenderSection("scripts", required: false)
</body>
</html>
