@using com.pmp.model.response;
@{
    ViewBag.Title = "任务详细";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="ptb10 bb">
    <span>会员中心 > 我的任务 > 任务详细</span>
    <input type="hidden" id="userLevel" value="@ViewBag.level" />
</div>
<div>
    <h3 class="ptb10">任务详细</h3>
</div>

<table class="table noborder">
    <tr>
        <td class="t-r w220">项目名称： </td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td class="t-r w220">项目类别： </td>
        <td>@Model.CategoryName</td>
    </tr>
    <tr>
        <td class="t-r">项目编号： </td>
        <td>@Model.Code</td>
    </tr>
    <tr>
        <td class="t-r">合同号： </td>
        <td>@Model.ContractCode</td>
    </tr>
    <tr>
        <td class="t-r">预计工期： </td>
        <td>@Model.StartTime.ToString("yyyy-MM-dd") - @Model.EndTime.ToString("yyyy-MM-dd")</td>
    </tr>
    <tr>
        <td class="t-r">项目预算：</td>
        <td>@Model.Budget</td>
    </tr>
    <tr>
        <td class="t-r">项目描述： </td>
        <td> @Html.Raw(Model.Desc)</td>
    </tr>
    @*<tr>
            <td class="t-r">审核状态： </td>
            <td>@Model.AuditStatusDesc</td>
        </tr>*@
    <tr>
        <td class="t-r">项目阶段： </td>
        <td>@Model.StatusDesc</td>
    </tr>
    <tr>
        <td class="t-r">项目经理： </td>
        <td>@Model.Manager</td>
    </tr>
    <tr>
        <td class="t-r">联系方式： </td>
        <td>@Model.Linkman [ @Model.Mobile ]</td>
    </tr>
    <tr>
        <td class="t-r">发布时间： </td>
        <td>@Model.CTime</td>
    </tr>
    <tr>
        <td class="t-r">项目文件： </td>
        <td>
            @if (Model.FlieList != null && Model.FlieList.Count > 0)
            {
                foreach (var file in Model.FlieList)
                {
                    <div>
                        <a href="@file.Path">@file.Name</a>
                    </div>
                }
            }
        </td>
    </tr>
    @*<tr>
            <td class="t-r">审核此任务： </td>
            <td>

                @if (Model.AuditStatus != 0)
                {
                    @Model.AuditStatusDesc
                }
                else
                {
                    <form method="post" action="/Task/AuditSubmit">
                        <label class="radio-inline">
                            <input type="radio" name="auditState" value="1"> 通过
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="auditState" value="-1"> 不通过
                        </label>

                        <input type="text" class="form-control" name="auditDesc" placeholder="审核说明">

                        <input type="hidden" name="id" value="@Model.ID" />
                        <button type="submit" class="btn btn-default"> 提 交 </button>
                    </form>
                }
            </td>
        </tr>*@

    <tr>
        <td class="t-r">项目接单：</td>
        <td>
            @if (Model.BidUsers != null && Model.BidUsers.Count > 0)
            {
                foreach (var bid in Model.BidUsers)
                {
                    <form method="post" action="/Task/GiveProject">
                        <div>
                            @bid.UserName 在 @bid.CTime 进行了接单。

                            @if (Model.RUserId < 1 && ViewBag.level == 2)
                            {
                                <input type="hidden" name="userId" value="@bid.UserId" />
                                <input type="hidden" name="projectId" value="@Model.ID" />
                                <button type="submit" class="btn btn-primary">同意接单</button>
                            }
                        </div>
                    </form>
                }
            }
        </td>
    </tr>

    @if (ViewBag.level < 20 && Model.RUserId < 1)
    {
        <tr>
            <td class="t-r">指派此任务：</td>
            <td>
                <button type="button" class="btn btn-default" id="btnChoosePerson"> 选择执行人 </button>
                <span id="spnReceiveName"> -- </span>
                <input type="hidden" name="id" value="@Model.ID" />
                <input type="hidden" name="ReceiveId" value="0" />
            </td>
        </tr>

    }
    else if (Model.RUserId > 0)
    {
        <tr>
            <td class="t-r">任务执行人：</td>
            <td>
                @Model.RUserName
            </td>
        </tr>
    }
    <tr>
        <td class="t-r">执行方案：</td>
        <td>
            @if (ViewBag.slns != null && ((List<TaskSlnRes>)ViewBag.slns).Count > 0)
            {
                foreach (var sln in (ViewBag.slns as List<TaskSlnRes>))
                {
                    <div>
                        <div>
                            <p>  @sln.UserName 在 @sln.CTime 提交项目方案</p>
                            @if (sln.FileList != null && sln.FileList.Count > 0)
                            {
                                <p>
                                    <span>附件：</span>
                                    @foreach (var file in sln.FileList)
                                    {
                                        <span><a href="@file.Path"> @file.Name </a></span>
                                    }
                                </p>
                            }
                            <p>说明：@sln.SlnDesc</p>
                        </div>
                    </div>
                }
            }
            else
            {
                <button type="button" id="btnCreateSln">提交项目执行方案</button>
            }
        </td>
    </tr>

    <tr>
        <td class="t-r">项目进度：</td>
        <td>
            @if (Model.ProcessDesc != null && Model.ProcessDesc.Count > 0)
            {
                foreach (var proc in Model.ProcessDesc)
                {
                    <div>
                        @proc.UserName @proc.CreateTime
                        <p>@proc.ProcessDesc</p>
                    </div>
                }
            }
        </td>
    </tr>

    @if (Model.RUserId == ViewBag._Longin_UserId && Model.Status == 2)
    {
        <tr>
            <td class="t-r">提交项目进度：</td>
            <td>
                <form method="post" action="/Task/AddProcess" enctype="multipart/form-data">
                    <input type="hidden" name="projectId" value="@Model.ID" />
                    <textarea name="desc" rows="5"> </textarea>
                    @*<input type="file" name="file"> <span>文件支持 *.jpg , *.png , *.pdf , *.doc , *.xls  ,文件不能大于2M。</span>*@
                    <br />
                    <input type="checkbox" name="overState" /> 完成项目
                    <button type="submit" class="btn btn-default"> 提 交 </button>
                </form>
            </td>
        </tr>
    }
    <tr>
        <td class="t-r">项目评价：</td>
        <td>
            @if (ViewBag.evas != null)
            {
                foreach (var eval in (ViewBag.evas as List<TaskEvaRes>))
                {
                    <div>
                        <div>
                            @eval.UserName @eval.CTime
                            [@eval.Grade] @eval.Score

                            <p>@eval.Desc</p>
                        </div>
                    </div>
                }
            }
        </td>
    </tr>

    @if (Model.Status == 3)
    {
        <tr>
            <td>评价：</td>
            <td>
                <form method="post" action="/Task/AddProcess" enctype="multipart/form-data">
                    <input type="hidden" name="projectId" value="@Model.ID" />

                    <input type="text" name="score" value="100" />(0-100)
                    <textarea name="processDesc" rows="5"> </textarea>

                    <button type="submit" class="btn btn-default"> 提 交 </button>
                </form>
            </td>
        </tr>
    }


</table>




<div class="modal fade" id="getModel">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("GiveProject", "Task", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">选择任务执行人</h4>
                </div>
                <div class="modal-body">
                    <div id="divPersonList">

                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="projectId" value="@Model.ID" />
                    <button type="button" class="btn btn-default" data-dismiss="modal"> 取 消 </button>
                    <button type="submit" class="btn btn-primary"> 确定指派 </button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="GiveSln">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("CreateSln", "Task", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">提交方案说明</h4>
                </div>
                <div class="modal-body">
                    <table class="table noborder">
                        <tr>
                            <td>方案描述： </td>
                            <td>
                                <textarea class="form-control" name="desc" placeholder="方案描述" rows="5"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>项目文件：</td>
                            <td><input type="file" id="exampleInputFile" name="files" multiple="multiple"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="projectId" value="@Model.ID" />
                    <button type="button" class="btn btn-default" data-dismiss="modal"> 取 消 </button>
                    <button type="submit" class="btn btn-primary"> 确定提交 </button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



@section scripts{
    <script>
        $(function () {
            $("#btnCreateSln").click(function () {
                $('#GiveSln').modal('show');
            });

            $("#btnChoosePerson").click(function () {
                $('#getModel').modal('show');
                $.getJSON("/Account/GetCompanyUsers")
                .done(function (data) {
                    if (data.length > 0) {
                        var layout = "";
                        $.each(data, function (key, item) {
                            layout += "<label><input type='radio' name='userId' value='" + item.Id + "' /> " + item.Name + " </label>";
                        });
                        $("#divPersonList").empty().append(layout);
                    }
                });
            });
        });
    </script>
}