@using com.pmp.common.helper;
@using com.pmp.model.data;
@using com.pmp.model.response;
@using com.pmp.model.enums
@model com.pmp.model.response.TaskInfoRes
@{
    ViewBag.Title = "详细";
    Layout = "~/Views/Shared/_TaskLayout.cshtml";
}

<h3 class="mc10">
    @Model.Name
</h3>


<table class="table noborder">
    <tr>
        <td class="t-r w220">项目类别：</td>
        <td>@Model.CategoryName </td>
    </tr>
    <tr>
        <td class="t-r">项目编号：</td>
        <td>@Model.Code</td>
    </tr>
    <tr>
        <td class="t-r">合同号：</td>
        <td>@Model.ContractCode</td>
    </tr>
    <tr>
        <td class="t-r">预计工期：</td>
        <td>@Model.StartTime.ToString("yyyy-MM-dd") - @Model.EndTime.ToString("yyyy-MM-dd")</td>
    </tr>
    <tr>
        <td class="t-r">项目预算：</td>
        <td>@Model.Budget</td>
    </tr>
    <tr>
        <td class="t-r">项目描述：</td>
        <td>@Html.Raw(Model.Desc)</td>
    </tr>
    <tr>
        <td class="t-r">审核状态：</td>
        <td>@Model.AuditStatusDesc</td>
    </tr>
    <tr>
        <td class="t-r">项目状态：</td>
        <td>@Model.StatusDesc</td>
    </tr>
    <tr>
        <td class="t-r">项目经理：</td>
        <td>@Model.Manager</td>
    </tr>
    <tr>
        <td class="t-r">联系方式：</td>
        <td>@Model.Linkman [ @Model.Mobile ]</td>
    </tr>
    <tr>
        <td class="t-r">发布时间：</td>
        <td>@Model.CTime</td>
    </tr><tr>
    <td class="t-r">最后一次修改时间：</td>
    <td>@Model.UTime</td>
</tr>
    <tr>
        <td class="t-r">项目文件：</td>
        <td>
            @if (Model.FlieList != null && Model.FlieList.Count > 0)
            {
                foreach (var file in Model.FlieList)
                {
                    <div>@file.Name</div>
                }
            }

        </td>
    </tr>
    <tr>
        <td class="t-r">项目进度：</td>
        <td>
            @if (Model.ProcessDesc != null && Model.ProcessDesc.Count > 0)
            {
                foreach (var proc in Model.ProcessDesc)
                {
                    <div>
                        @proc.UserName @proc.CreateTime
                        <p>@proc.ProcessDesc</p>
                    </div>
                }
            }
        </td>
    </tr>
    <tr>
        <td class="t-r">项目竞标：</td>
        <td>
            @if (ViewBag.slns != null)
            {
                foreach (var sln in (ViewBag.slns as List<TaskSlnRes>))
                {
                    <div>
                        <div>
                            @sln.UserName @sln.CTime
                            @if (sln.FileList != null && sln.FileList.Count > 0)
                            {
                                <span>[含附件]</span>
                            }
                            <p>@sln.SlnDesc</p>
                        </div>
                    </div>
                }
            }

        </td>
    </tr>
    <tr>
        <td class="t-r">项目评价：</td>
        <td>
            @if (ViewBag.evas != null )
            {
                foreach (var eval in (ViewBag.evas as List<TaskEvaRes>))
                {
                    <div>
                        <div>
                            @eval.UserName @eval.CTime
                            [@eval.Grade] @eval.Score

                            <p>@eval.Desc</p>
                        </div>
                    </div>
                }
            }
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            @if (Model.Status == (int)ProjectStatus.Default)
            {
                <button type="button" id="btnGetProject" class="btn btn-default"> 领取项目 </button>
            }

        </td>
    </tr>
</table>




<div class="modal fade" id="getModel">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("CreateSln", "Task", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">提交方案说明</h4>
                </div>
                <div class="modal-body">
                    <table class="table noborder">
                        <tr>
                            <td>方案描述： </td>
                            <td>
                                <textarea class="form-control" name="desc" placeholder="方案描述" rows="5"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>项目文件：</td>
                            <td><input type="file" id="exampleInputFile" name="files" multiple="multiple"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="projectId" value="@Model.ID" />
                    <button type="button" class="btn btn-default" data-dismiss="modal"> 取 消 </button>
                    <button type="submit" class="btn btn-primary"> 确定领取 </button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




@section scripts{
    <script>
        $(function () {
            $("#btnGetProject").click(function () {
                $('#getModel').modal('show');
            });
        });
    </script>
}