@using com.pmp.common.helper;
@model List<com.pmp.mongo.data.MgProject>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="ptb10 bb">
    <span>会员中心 > 所有任务 </span>
    <input type="hidden" id="userLevel" value="@ViewBag.level" />
</div>
<div>
    <h3 class="ptb10">我的所有任务</h3>
</div>

<ul class="taskAuditList">
    @{ if (ViewBag.total > 0)
        {
            foreach (var item in Model)
            {
                <li class="bb">
                    <div class="line1">
                        <a href="/Task/AuditDetail?id=@item.ID">[@item.Status.GetName()]</a>   @item.Code | @item.ContractCode | @item.Name
                    </div>
                    <div class="line2">@item.Desc.TakeString(100)</div>
                    <div class="line3">联系人： @item.Manager | @item.Linkman @item.Mobile  项目时间：@item.StartTime.ToString("yyyy-MM-dd") - @item.EndTime.ToString("yyyy-MM-dd")</div>
                </li>
            }
        }
    }
    <li>
        @Html.Partial("_pagePartial", new com.pmp.model.response.PageInfo { PageIndex = ViewBag.pageIndex, PageSize = 12, Total = ViewBag.total })
    </li>
</ul>


@section scripts{
    <script>
        $(function () {
            $(".pagination li").click(function () {
                var pageindex = $(this).data("page");
                var type = $("#proType").val();
                var state = $("#proState").val();

                window.location.href = 'Index?pageIndex=' + pageindex + '&type=' + type + '&state=' + state;
            });
        });
    </script>
}
